@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar-box img{
    width: 80px;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link-contato:visited,
.navbar-link-contato:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link-contato:hover{
    background-color: #da6b1d;
    color: white;
    border-radius: 10px;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: #da6b1d;
    color: white;
    border-radius: 10px;
}

.navbar-link-book:visited,
.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid #da6b1d;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}

.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}

.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}

.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    right: 0;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.book-now:visited,
.book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}

/* MENU */

.menu{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu h1{
    margin-bottom: 70px;
    margin-top: 100px;
    align-items: center;
    color: #da6b1d;
    font-size: 8rem;
}

.menu .img-menu{
    width: auto;
    height: auto;
}

.menu .item h2{
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
    font-size: 3.5rem;
}

.menu .item p{
    font-size: 1.5rem;
    padding: 0 100px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.rating{
    color: orange;
    font-size: 20px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {

    .navbar{
        height: 80px;
    }

    .navbar-link-contato{
        display: none;
    }

    .navbar-list{
        list-style: none;
        font-size: 1.5rem;
    }
    
    .navbar-item{
        display: inline-block;
    }
    
    .navbar-link:visited,
    .navbar-link:link{
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        transition: all .2s ease;
    }

    .navbar-box img{
        width: 60px;
    }

    .heading-primary{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .lead {
        font-weight: 600;
        margin-top: 20px;
        font-size: 1rem;
    }

    #restaurant{
        font-size: 3.5rem;
    }

    .book-now:visited,
    .book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}

    .heading-secundary{
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 3px;
    }
    
    .menu h1{
        margin-bottom: 70px;
        margin-top: 100px;
        align-items: center;
        color: #da6b1d;
        font-size: 4rem;
    }
    
    .menu .img-menu{
        width: 250px;
        height: auto;
    }
    
    .menu .item h2{
        margin-top: 100px;
        margin-bottom: 20px;
        color: white;
        font-size: 1.5rem;
    }
    
    .menu .item p{
        max-width: auto;
        padding: 5px 50px;
        color: white;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}